<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>商品的详情</title>
    <meta http-equiv="Content-Type"  content="text/html;charset=UTF-8" />
    <!-- jquery -->
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <!-- bootstrap -->
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap.min.css}" />
    <script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
    <!-- jquery-validator -->
    <script type="text/javascript" th:src="@{/jquery-validation/jquery.validate.min.js}"></script>
    <script type="text/javascript" th:src="@{/jquery-validation/localization/messages_zh.min.js}"></script>
    <!-- layer -->
    <script type="text/javascript" th:src="@{/layer/layer.js}"></script>
    <!-- md5.js -->
    <script type="text/javascript" th:src="@{/js/md5.min.js}"></script>
    <!-- common.js -->
    <script type="text/javascript" th:src="@{/js/common.js}"></script>
</head>
<body>
<div class="panel panel-default">
    <div class="panel-padding">秒杀商品详情</div>
    <div class="panel-body">
        <span th:if="${miaoshaUser eq null}">你还没有登录，请登录后操作<br/></span>
        <span>没有收货地址提示</span>
    </div>
    <table class="table">
        <tr>
            <td>商品的名称</td>
            <td colspan="3" th:text="${goods.goodsName}"></td>
        </tr>
        <tr>
            <td>商品的图片</td>
            <td colspan="3"><img th:src="@{${goods.goodsImg}}" width="200" height="200" ></td>
        </tr>
        <tr>
            <td>秒杀开始时间</td>
            <td th:text="${#dates.format(goods.startDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
            <td id="miaoshaTip">
                <input type="hidden" id="remainSeconds" th:value="${remainTime}">
                <span th:if="${status eq 0}">秒杀倒计时: <span id="countDown" th:text="${remainTime}"></span>秒</span>
                <span th:if="${status eq -1}">秒杀结束</span>
                <span th:if="${status eq 1}">秒杀进行中</span>
            </td>
            <td>
                <form action="/miaosha/do_miaosha" method="post" id="miaoshaForm">
                    <input type="hidden" name="goodsId" th:value="${goods.id}">
                    <button class="btn btn-primary btn-block" type="submit" id="buybutton">立即秒杀</button>
                </form>
            </td>
        </tr>
        <tr>
            <td>商品原价</td>
            <td colspan="3" th:text="${goods.goodsPrice}"></td>
        </tr>
        <tr>
            <td>秒杀价</td>
            <td colspan="3" th:text="${goods.miaoshaPrice}"></td>
        </tr>
        <tr>
            <td>库存数量</td>
            <td colspan="3" th:text="${goods.stockCount}"></td>
        </tr>
    </table>
</div>
<script>
    $(function () {
        countDown();
    })

    function countDown() {
        var remainSeconds = $('#remainSeconds').val();
        var closeTime;
        if(remainSeconds > 0){ //秒杀未开始
            $('#buybutton').attr('disabled', false);
            //倒计时
            var countDownSeconds = $('#countDown').text();
            closeTime = setTimeout(function () {
                $('#remainSeconds').val(remainSeconds - 1)
                $('#countDown').text(countDownSeconds -1);
                countDown();
            },1000)
        } else if(remainSeconds < 0) { //秒杀结束
            $('#buybutton').attr('disabled', false);
        } else { //秒杀进行中
            $('#buybutton').attr('disabled', true);
            if(closeTime) {
                clearTimeout(closeTime)
            }
        }
    }
</script>
</body>
</html>